.closeButton {
  position: absolute;
  right: 24px;
  top: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.closeIconContainer {
  padding: 16px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
}

.closeIconColor {
  fill: #FFFF;
}
